.location-style {
  width: 50%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the element horizontally */
  padding: 10px;
  border: 5px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  min-height: 14px;
  font-size: 12px;
  color: #007BFF;
  font-weight: bold;

  /* Center text vertically */
  display: flex;
  align-items: center;
}

.location-style:hover,
.location-style:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
