  
  .container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .top-right-button {
    position: absolute;
    top: 10px;
    left: 10px;
  }